html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.helloworld {
    height: 200px;
    width: 200px;
    background-color: orange;
    margin-left: 40%;
    margin-top: 7px;
    text-align: center;
}
.box {
    height: 200px;
    width: 200px;

}
.box1 {
    background-color: red;
    position: fixed;
    top: 550px;

}
.box2 {
    background-color: rgb(0, 255, 85);
    position:absolute;
    top: 540px;
    left: 10px;
}
.box3 {
    background-color: rgb(0, 183, 255);
    position: absolute;
    top: 530px;
    left: 20px;
}



